:root {
  --lc-border-color: #dddddd;
  --lc-border-color-light: #eeeeee;
  --lc-border-color-dark: #999999;
  --lc-border: 1px solid var(--lc-border-color);
  --lc-border-light: 1px solid var(--lc-border-color-light);
  --lc-border-dark: 1px solid var(--lc-border-color-dark);
  --lc-border-radius: 4px;
}
