@use '../mixins' as *;

.lc-html {
  font: normal normal getCssVar('font-weight') getCssVar('font-size') / getCssVar('line-height')
    getCssVar('font-sans-serif');
}

.lc-body {
  color: getCssVar('text');
  margin: 0;
  padding: 0;
  position: relative;
}

.lc-ol,
.lc-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lc-button,
.lc-input[type='submit'],
.lc-input[type='button'] {
  cursor: pointer;
}

.lc-input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.lc-input[type='number']::-webkit-inner-spin-button,
.lc-input[type='number']::-webkit-outer-spin-button {
  margin: 0;
}

.lc-input::-webkit-input-placeholder,
.lc-textarea::-webkit-input-placeholder {
  color: getCssVar('text-200');
}
.lc-input:-moz-placeholder,
.lc-textarea:-moz-placeholder {
  color: getCssVar('text-200');
}
.lc-input::-moz-placeholder,
.lc-textarea::-moz-placeholder {
  color: getCssVar('text-200');
}
.lc-input:-ms-input-placeholder,
.lc-textarea:-ms-input-placeholder {
  color: getCssVar('text-200');
}

.lc-h1 {
  font-size: 38px;
  line-height: 44px;
  color: getCssVar('text');
  margin: 0;
}
.lc-h2 {
  font-size: 30px;
  line-height: 42px;
  color: getCssVar('text');
  margin: 0;
}
.lc-h3 {
  font-size: 24px;
  line-height: 28px;
  color: getCssVar('text');
  margin: 0;
}
.lc-h4 {
  font-size: 20px;
  line-height: 28px;
  color: getCssVar('text');
  margin: 0;
}
.lc-h5 {
  font-size: 18px;
  line-height: 24px;
  color: getCssVar('text');
  margin: 0;
}
.lc-h6 {
  font-size: 14px;
  line-height: 22px;
  color: getCssVar('text');
  margin: 0;
}
.lc-p {
  font-size: 14px;
  line-height: 20px;
  color: getCssVar('text-100');
  margin: 0;
}
.lc-a {
  text-decoration: none;
}
