@use './mixins' as *;

$block: 'header-menu';

@include b() {
  @include setCssVars(
    (
      'width': 100%,
      'height': 58px,
      'font-color': getCssVar('text'),
      'background-color': transparent,
      'font-color-hover': getCssVar('text'),
      'background-color-hover': #fff,
      'nav-item-width': auto,
      'nav-item-height': auto,
      'nav-after-visibility': hidden,
      'nav-after-opacity': 0,
      'nav-after-left': none,
      'nav-after-transition': opacity 0.25s,
      'nav-after-background-color': rgba(180, 180, 180, 0.5),
      'nav-after-background-radius': 4px,
      'nav-locker-padding': 20px,
      'nav-locker-background-color': #fff,
      'nav-locker-pointer-events': none,
    )
  );

  display: flex;
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  width: getCssVar('width');
  height: getCssVar('height');
  color: getCssVar('font-color');
  background-color: getCssVar('background-color');
  transition: background 0.4s;
  position: relative;

  &:hover {
    @include setCssVars(
      (
        'font-color': getCssVar('font-color-hover') + '!important',
        'background-color': getCssVar('background-color-hover') + '!important',
      )
    );
  }
}

@include e('nav') {
  padding: 0 80px;

  .menu-list {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;

    &::after {
      content: '';
      visibility: getCssVar('nav-after-visibility');
      opacity: getCssVar('nav-after-opacity');
      width: getCssVar('nav-item-width');
      height: getCssVar('nav-item-height');
      background-color: getCssVar('nav-after-background-color');
      border-radius: getCssVar('nav-after-background-radius');
      position: absolute;
      top: calc((getCssVar('height') - getCssVar('nav-item-height')) / 2);
      left: getCssVar('nav-after-left');
      transition: getCssVar('nav-after-transition');
    }
  }
  .menu-item {
    position: relative;
    z-index: 1;

    .lc-a {
      display: inline-block;
      font-weight: 600;
      color: getCssVar('font-color');
      text-decoration: none;
      padding: 4px 25px;
      cursor: pointer;
    }
    span {
      display: inline-block;
      font-weight: 600;
      color: getCssVar('font-color');
      padding: 4px 25px;
      cursor: pointer;
    }
  }
  .menu-locker > * {
    visibility: hidden;
    box-sizing: border-box;
    width: 100%;
    max-height: 75vh;
    padding: getCssVar('nav-locker-padding');
    background-color: getCssVar('nav-locker-background-color');
    box-shadow: 0 8px 16px -16px rgba(0, 0, 0, 0.16);
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition:
      visibility 0.75s ease 0.5s,
      opacity 0.75s ease 0.5s,
      transform 0.1s cubic-bezier(0.5, 0, 0, 0.75) 1.5s;
    position: absolute;
    left: 0;
    top: getCssVar('height');
    z-index: auto;
    pointer-events: getCssVar('nav-locker-pointer-events');

    &.menu-locker-content-first--animation {
      transition:
        opacity 0.5s cubic-bezier(0.5, 0, 0, 0.75) 0s,
        transform 0.5s cubic-bezier(0.5, 0, 0, 0.75) 0s,
        visibility 0.75s ease 0.2s;
    }
    &.menu-locker-content-switch--animation {
      transition: opacity 0.75s cubic-bezier(0.5, 0, 0, 0.75) 0s;
    }
    &.menu-locker-content--show {
      visibility: visible;
      opacity: 1;
      transform: scaleY(1);
      z-index: 1;
    }
  }
}
