@use './mixins' as *;

$block: 'mentions';

@include b() {
  background-color: #fff;
  position: relative;
  z-index: 9;
}
@include e('container') {
  overflow-y: auto;
  padding: 4px;
  border: var(--lc-border);
  border-radius: var(--lc-border-radius);

  &:focus,
  &:focus-visible {
    outline: none;
  }
}
@include e('menu') {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  border: var(--lc-border);
  border-radius: var(--lc-border-radius);
  position: absolute;
  left: 0;
  bottom: calc(100% - 1px);

  .lc-ul {
    padding: 2px 6px 4px;
  }

  .is-active {
    color: var(--lc-info);
    background-color: var(--lc-info-bg);
  }
}
@include e('menu-item') {
  display: flex;
  align-items: center;
  padding: 0 6px;
  border-radius: var(--lc-border-radius);
  margin: 2px 0;

  .lc-mentions__avatar {
    width: 16px;
    height: 16px;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    color: var(--lc-gray-400);
    background-color: var(--lc-gray-300);
    border-radius: 50%;
    margin-right: 4px;
  }
}
@include e('content') {
  color: var(--lc-primary);
  .is-link {
    color: inherit;
    text-decoration: none;
  }
}
