@use 'config' as *;

$block: '';

@mixin b() {
  $class: $namespace + $common-separator + $block;

  .#{$class} {
    @content;
  }
}
@mixin e($element) {
  $class: #{$namespace}#{$common-separator}#{$block}#{$element-separator}#{$element};

  .#{$class} {
    @content;
  }
}
@mixin m($modifier) {
  $class: #{$namespace}#{$common-separator}#{$block}#{$modifier-separator}#{$modifier};

  .#{$class} {
    @content;
  }
}
@mixin bem($element, $modifier) {
  $class: #{$namespace}#{$common-separator}#{$block}#{$element-separator}#{$element}#{$modifier-separator}#{$modifier};

  .#{$class} {
    @content;
  }
}

@mixin is($state) {
  $class: #{$state-prefix}#{$state};

  .#{$class} {
    @content;
  }
}

@mixin setCssVar($name, $val) {
  --#{$namespace}-#{$name}: #{$val};
}

@mixin setCssVars($vars) {
  @each $key, $value in $vars {
    --#{$namespace}-#{$key}: #{$value};
  }
}
